
@keyframes underlineExpand {
  0% {
    width: 0;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 0;
  }
}

#title-header {
  position: relative;
}

#title-header::after {
  content: '';
  display: block;
  height: 3px;
  background: #7E0000;
  width: 0;
  position: absolute;
  bottom: 2;
  left: 50%;
  transition: all .3s ease-in-out;
}

#title-header:hover::after {
  animation: underlineExpand .3s forwards;
}



